.notification-settings-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    border-radius: 12px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notification-settings-form h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.notification-settings-form h4 {
    font-size: 20px;
    font-weight: 400;
}

.notification-settings-form section {
    margin-bottom: 2rem;
}

.setting-item {
    margin-bottom: 1.2rem;
    font-size: 10px;
}

.setting-item label {
    /* display: flex;
    align-items: center;
    gap: 10px;
    font-weight: lighter; */
}

.setting-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #8000ff;
}

.setting-item select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.save-btn {
    padding: 12px 24px;
    background-color: #8000ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
    transition: background 0.3s ease;
}

.save-btn:hover {
    background-color: #6700cc;
}


@media (max-width: 760px) {
    .notification-settings-form {
        padding: 30px 5px 100px 5px;

    }

    .setting-item label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: lighter;
        font-size: 10px;
    }
}