@media (min-width: 1200px) and (max-width: 1440px) {
    .profile{
        margin-left: 20rem;
    }
}
@media (min-width: 1440px) and (max-width: 2560px) {
    .profile{
        margin-left: 20rem;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 2560px) and (max-width: 5000px) {
    .profile{
        margin-left: 20rem;
        max-width: 100rem;
        margin-left: auto;
        margin-right: auto;
    }
}