

div  a {
    color: #8000FF
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.9;
}

/* Smooth transitions */
img {
  transition: transform 0.2s, opacity 0.2s;
}

img:hover {
  transform: scale(1.01);
}

.osahan-slider-main {
  padding: 20px;
}

.job-item {
  transition: box-shadow 0.3s ease;
}

.job-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.rounded-circle {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 5px;
}
.heading_tab_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  /* padding-bottom: 10px; */
}
.heading_tab_container .active {
  color: #8000FF;
  font-weight: bold;
  border-bottom: 1px solid #8000FF;
  padding-bottom: 10px;
}