/* PrivacySettings.css */
.privacy-settings-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    border-radius: 12px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.privacy-settings-form h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #262626;
    text-align: left;
}

.privacy-section {
    margin-bottom: 2rem;
}

.privacy-section h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 1rem;
    border-left: 4px solid #8000ff;
    padding-left: 10px;
}

.setting-item {
    margin-bottom: 1.5rem;
}

.setting-item label {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
}

.setting-item input[type="checkbox"],
.setting-item select {
    accent-color: #8000ff;
    cursor: pointer;
    font-size: 0.95rem;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.setting-item select {
    background-color: #f9f9f9;
    outline: none;
    color: #444;
}

.setting-item p {
    font-size: 0.85rem;
    color: #777;
    margin: 0.4rem 0 0 30px;
}

.setting-item ul {
    margin: 0.5rem 0 0 30px;
    padding-left: 0;
    list-style-type: disc;
    color: #555;
    font-size: 0.9rem;
}

.save-btn {
    padding: 12px 28px;
    background-color: #8000ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 1rem;
    float: right;
}

.save-btn:hover {
    background-color: #6700cc;
}

/* Responsive */
@media (max-width: 760px) { 
    .privacy-settings-form {
        max-width: 700px;
        margin: 0 auto;
        padding: 5px;
        padding-bottom: 100px;
        padding-top: 20px;
    }
    .privacy-settings-form h2{
        padding-bottom: 10px;
    }
}