.custom-download-btn {
    background-color: #8000FF;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(128, 0, 255, 0.3);
}

.custom-download-btn:hover,
.custom-download-btn:focus {
    background-color: #6900cc;
    box-shadow: 0 6px 14px rgba(128, 0, 255, 0.5);
    color: #fff;
}

.custom-download-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #8000FF;
}
