.navbar {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.144);
    width: 100%;
    overflow: visible;
    height: 65px;
    position: fixed;
    top: 0px;
    z-index: 999;
    padding: 0px;
    background: white;

}

.navbar-brand .zagasm_logo {
    width: 120px;
    height: 100%;
    /* height: 60px; */
}

.navbar .nav_search .input-group {
    border-radius: 5px;
    background-color: white;
}

.navbar .nav_search .input-group input {
    background-color: rgba(245, 243, 247, 0.925);
    outline: none;
    /* width: 300px; */
}

.navbar .nav_search .input-group input:focus {
    outline: none;
    box-shadow: none;
}

.osahan-nav-top .navbar-search .btn {
    background: #a14bff !important;
    color: white;
}

.osahan-nav-top .nav-icon {
    font-size: 300px;
    padding: 10px 60px;
    transition: 0.3s ease-in-out;
    /* background: #b5a6c518; */
    color: #8000FF;
    font-weight: 100;
}

.osahan-nav-top .nav-icon:hover {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}



.navbar-nav.middle_nav {
    display: flex;
    justify-content: center;
    gap: 30px
}

.shadow-sm.side_bar_container {
    border-right: 1px solid rgba(221, 214, 214, 0.596);
    height: calc(100vh - 65px);
    position: fixed;
    top: 65px;
    /* background-color: white; */
    padding-top: 20px;
    overflow: hidden;
    width: 300px;
}

.side_bar_container .list-sidebar .list-group a {
    margin: 10px 0px;
    font-size: 16px;
    background: none;
    /* font-weight: bold; */
}

.side_bar_container .list-sidebar .list-group a li {
    background: none;
    border: none;
    color: #350466;
    width: 200px;
    border-radius: 20px;
    margin-left: 20px
}

.side_bar_container .list-sidebar .list-group a li:hover {
    color: white;
    background: linear-gradient(84.41deg, #C207E7 1.78%, #490481 69.04%);
}

.side_bar_container .list-sidebar .list-group a li img {
    margin-right: 20px;
}

.side_bar_container .list-sidebar .list-group a li:hover img {
    fill: white;
    color: white;
    filter: brightness(0) invert(20);
}



.mobile_navbar_container {
    background: white;
    position: fixed;
    bottom: 0px;
    z-index: 99;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    display: none;
}

.mobile_navbar_container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 200px;
    margin: 0px;
}

.mobile_navbar_container ul a {
    font-size: 25px;
    padding: 0px;
}

.mobile_navbar_container ul .mobile_icon_name {
    display: none;
}

.mobile_navbar_container ul .active {
    margin: 0px;
    margin-top: -5px;
    /* display: inline; */
    padding: 8px 10px;
    color: white;
    background: linear-gradient(to right, #8000FF, rgba(228, 40, 235, 0.87));
    box-shadow: 0 0 20px rgba(154, 114, 194, 0.15);
    border-radius: 15px;
    display: flex;
}

.mobile_navbar_container ul .active .mobile_icon_name {
    font-size: 15px;
    margin-top: 2px;
    margin-left: 10px;
    display: inline;
}

.right_side_bar {
    /* margin-top: 65px; */
    /* width: 100%; */
}

.right_side_bar_inner_container {
    position: fixed;
    right: 20px;
    top: 50px;
    width: 440px;
    max-height: 100vh;
    height: calc(100vh - 90px);
    overflow-y: auto;

    background-color: white;
    padding: 40px 20px 20px 20px;
}

.osahan-nav-top .right-icon::before {
    padding: 6px;
    border-radius: 50%;
    color: #8000FF;
    font-size: 25px;
    transition: 0.3s ease-in-out;
}

@media (max-width: 1394px) {
    .right_side_bar_inner_container {
        width: 390px;
        padding: 40px 10px 10px 10px;
    }
}

@media (max-width: 1265px) {
    .right_side_bar_inner_container {
        width: 300px;
    }
}

@media (max-width: 1205px) {

    .side_bar_container .list-sidebar .list-group a li span,
    .side_bar_user_name {
        display: none;
    }
  

    .shadow-sm.side_bar_container {
        width: fit-content;
        /* width: 20px;; */
    }

    .osahan-nav-top .middle_nav .nav-icon {
        font-size: 30px;
        padding: 10px 20px;
        display: none;
    }

    .main_container {
        padding-top: 65px;
        padding-bottom: 65px;
        /* margin-left: 330px; */
        overflow: hidden;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 927px) {}

@media (max-width: 767px) {
    .navbar-nav.middle_nav {
        display: none;
    }

    .osahan-nav-top .right-icon::before {
        font-size: 20px;
    }

    .mobile_navbar_container {
        display: block;
    }

    .shadow-sm.side_bar_container {
        display: none;
    }
}

.list-group-item:hover {
    background-color: #f0f2f5;
}

.navbar-nav .create_post_btn {
    gap: 10px;
    border-radius: 30px;
    /* box-shadow: 1px 0px 1px 0px #808080D6; */
    color: white;
    background: #8F07E7;
    height: 40px;
    padding: 0px 00px;
}