/* Modal Overlay (Backdrop) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); /* Dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999998;
  }
  .modal-body{
    max-height:80vh;
    overflow: auto;
  }
  /* Modal Container */
  .modal-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 9999; /* Ensures it's above everything */
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Fade In Animation */
  @keyframes modal-overlay {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  