.heading_section {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 40px; */
    height: fit-content;
}

.heading_section .details_display {
    padding: none;
    margin: 0px;
}

.heading_section .details_display div {
    /* align-items: center;
    height: 300px; */
    gap: 20px;
}

.heading_section .details_display .profle_img {
    width: 150px;
}

.heading_section .details_display .profle_img img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.heading_section .details_display .profile_info {
    display: flex;
    height: 200px;
    align-items: center;
}

.heading_section .details_display .profile_info .follow_section {
    margin-top: 20px;
    color: black;
    font-size: 14px
}

.heading_section .create_event_section {
    display: flex;
    justify-content: right;
    height: 200px;
    align-items: center;
}

.heading_section .create_event_section a {
    color: rgba(143, 7, 231, 1);
    border: 1px solid rgba(143, 7, 231, 1);
    background-color: white;
    padding: 12px 20px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    gap: 10px
}
.heading_section .create_event_section a:hover {
    background: rgba(143, 7, 231, 1);
    color: white;
}
@media (max-width: 600px) {
    .heading_section {
        display: block;
        height: fit-content;
        align-items: center;
        padding: 0px 10px
    }
    .heading_section .create_event_section {
        display: block;
        justify-content: center;
        height: fit-content;
        align-items: center;
        margin-top: 20px;
        width: 100%
    }
    .heading_section .create_event_section div a {
        width: 100%;
        display: block;
        text-align: center;

    }


}